<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BirdHero0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{116,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,73}</string>
                <key>textureRect</key>
                <string>{{123,2199},{116,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BirdHero1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{120,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,73}</string>
                <key>textureRect</key>
                <string>{{1,2199},{120,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BirdHero2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{116,69}</string>
                <key>spriteSourceSize</key>
                <string>{128,73}</string>
                <key>textureRect</key>
                <string>{{241,2199},{116,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ColumnSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,1024}</string>
                <key>spriteSourceSize</key>
                <string>{256,1024}</string>
                <key>textureRect</key>
                <string>{{1,2051},{146,1024}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{2048,138}</string>
                <key>spriteSourceSize</key>
                <string>{2048,144}</string>
                <key>textureRect</key>
                <string>{{808,1},{2048,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sky_repeated.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2048,512}</string>
                <key>spriteSourceSize</key>
                <string>{2048,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{2048,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>trees.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{2048,291}</string>
                <key>spriteSourceSize</key>
                <string>{2048,325}</string>
                <key>textureRect</key>
                <string>{{515,1},{2048,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SpriteSheet.png</string>
            <key>size</key>
            <string>{1026,2300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4898236f2614f8354c9a8ced72e5d80e:d87a2119fc0ac3612a376c13f2a9c66f:ab23269ed1f43280698da3e1abde36d4$</string>
            <key>textureFileName</key>
            <string>SpriteSheet.png</string>
        </dict>
    </dict>
</plist>
