<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BirdHero0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.5,0.5}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,73}</string>
			<key>spriteSourceSize</key>
			<string>{128,73}</string>
			<key>textureRect</key>
			<string>{{0,0},{128,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BirdHero1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.5,0.5}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,73}</string>
			<key>spriteSourceSize</key>
			<string>{128,73}</string>
			<key>textureRect</key>
			<string>{{128,0},{128,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>BirdHero2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.5,0.5}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,73}</string>
			<key>spriteSourceSize</key>
			<string>{128,73}</string>
			<key>textureRect</key>
			<string>{{256,0},{128,73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ColumnSprite.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.5,0.5}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1024,256}</string>
			<key>spriteSourceSize</key>
			<string>{1024,256}</string>
			<key>textureRect</key>
			<string>{{0,73},{1024,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GrassThinSprite.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.5,0.5}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1024,144}</string>
			<key>spriteSourceSize</key>
			<string>{1024,144}</string>
			<key>textureRect</key>
			<string>{{0,329},{1024,144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>SkyTileSprite.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>anchor</key>
			<string>{0.5,0.5}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1024,512}</string>
			<key>spriteSourceSize</key>
			<string>{1024,512}</string>
			<key>textureRect</key>
			<string>{{0,473},{1024,512}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>SpriteSheet.png</string>
		<key>size</key>
		<string>{1024,985}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7315cc23208c298c7522613bc76e7ac1:36c516a95003adacccc995d1c5e54731:ab23269ed1f43280698da3e1abde36d4$</string>
		<key>textureFileName</key>
		<string>SpriteSheet.png</string>
	</dict>
</dict>
</plist>
